<section class="show_wrapper">

<%= form_with(model: [@post, @comment], local: true) do |f| %>
    <% if @comment.errors.any? %>
        <ul>
         <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
    <% end %>
         </ul>
<% end %>

<h1><%= @post.title %></h1>
<p><%= @post.body %></h1>

<div class="btn btn-primary  mr-3">
    <%= link_to "Edit", edit_post_path(@post), :class => "btn "%>  
</div>

<div class="btn btn-primary  mr-3">
    <%= link_to "Delete", post_path(@post), :class => "btn", method: :delete, data: {confirm: "Are you sure?"} %>
</div>



<h4 class="mt-5">Comment</h4>

<div class="form-group">
  <%= f.text_area(:body, cols: 50, rows: 5, placeholder: "What are your thoughts?", class: "form-control") %>
</div>

      <div class="btn btn-primary  mr-3">
        <%= f.submit "Submit", :class => "btn" %>
      </div>
  <% end %>

<hr />


  <% @comments.each do |comment| %>
    
      <p>
        <%= comment.body %> <br />
        <small>
          <%= link_to(
            "Delete",
            post_comment_path(@post, comment),
            method: :delete,
            data: {
              confirm: "Are you sure?"
            }
          ) %>
        </small>
        |
        <small>
          Commented <%= time_ago_in_words(comment.created_at) %> ago
        </small>
      </p>
    
    <hr />
  <% end %>

</section>





