<%- include("partials/header")%>

<div class="container">


    <div class="panel panel-default pb-4 border rounded my-3 pl-3 pr-3 pt-3">
        <div class="panel-body pb-2">
            <span class="font-weight-bold text-capitalize text-large"><%= cohort.name %></span>
        </div>
        <div class="panel-body pb-2"><%=cohort.members %></div>

        <div class="panel-body border"></div>

        <div class="panel-body">

            <form>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="assignmethod" value="teamcount" id="team">
                    <label class="form-check-label" for="assignmethod">
                        Team Count
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="assignmethod" value="numberperteam">
                    <label class="form-check-label" for="assignmethod">
                        Number Per Team
                    </label>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text" class="form-control" name="quantity" required>
                </div>

                <button type="submit" class="btn btn-primary my-1">Assign Teams</button>


            </form>
            <a href=<%=cohort.id %>\edit><button type="hidden" class="btn btn-primary my-1" value="update">Update
                    Team</button></a>


            <form action=<%=cohort.id %> method="post">
                <button type="hidden" class="btn btn-primary my-1" value="delete" name="_method">Delete Team</button>
            </form>


        </div>



        <% if (assignmethod) {%>
        <div class="panel-body">

            <span class="font-weight-bold text-capitalize"># Members</span>

            <div class="panel-body border"></div>
            <ol>
                <%  newMembers.forEach(team => { %>
                <li><%= team.join(', ') %></li>
                <div class="panel-body border"></div>

                <%  });%>

            </ol>
        </div>
        <% } %>









    </div>
</div>






<%- include("partials/footer")%>